.page {
  flex-direction: column;
  background-color: #181825;
  color: #e4e4e7;
  min-height: 100%;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  text-align: center;
}


.page h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  animation: fadeIn 0.5s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1.5rem;
  animation: fadeIn 0.5s ease-in-out;
}


.btn {
  background: linear-gradient(90deg, #4f46e5, #00c6ff);
  color: white;
  margin: 4px;
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px rgba(79, 70, 229, 0.5);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
